@charset "utf-8";
/**{*/
/*    !*margin:0;*!*/
/*    !*padding:0;*!*/
/*    box-sizing: border-box;*/
/*}*/

.wrapper{
    width: 414px;
    height: 896px;
    position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FA682A;
}

.text {
    position: absolute;
    width: 246px;
    height: 36px;
    left: 90px;
    top: 267px;
    margin-bottom: 300px;
    display: flex;
    border: unset;
    justify-content: center;
    align-items: center;
    /*size: 24px;*/
    padding: 6px 10px 6px 10px ;
}

/*써니매직 로고*/
.logo {
    width: 263px;
    height: 106px;
    left: 76px;
    position: absolute;
    display: flex;
    border: unset;
    margin-bottom: 150px;
    justify-content: center;
    align-items: center;
}

.logo path{
    animation: magic 0.8s linear forwards;
    transform-origin: center;
}

/*3:매직 4:써니 2:stroke 5:ㅅ*/

.logo path:nth-child(1){
    fill: white;
    stroke: #FF5733;

}

.logo path:nth-child(2){
    stroke-dasharray: 100;
    stroke-dashoffset: 400;
    stroke: white;
    stroke-width: 1;
}

.logo path:nth-child(3){
    fill: black;
}


@keyframes magic {
    0%{
        fill: none;
    }

    50%{
        nth-child(1).stroke-dasharray: 50;
        nth-child(1).stroke-dashoffset: 50;
        fill: none;
    }

    100%{
        stroke-dashoffset: 100;
        stroke: white;
    }
}

/*태양이 돈이 되는 매직*/
.text path{
    animation: end 0.2s linear forwards;
}

@keyframes end {
    to{
        fill: white;
    }
}

.text path:nth-child(2){
    animation-delay: 0.1s;
}
.text path:nth-child(3){
    animation-delay: 0.2s;
}
.text path:nth-child(4){
    animation-delay: 0.3s;
}
.text path:nth-child(5){
    animation-delay: 0.4s;
}
.text path:nth-child(6){
    animation-delay: 0.5s;
}
.text path:nth-child(7){
    animation-delay: 0.6s;
}
.text path:nth-child(8){
    animation-delay: 0.7s;
}
.text path:nth-child(9){
    animation-delay: 0.8s;
}

/*3개의 선*/
svg.line{
    width: 86px;
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    stroke: white;
    stroke-width: 3px;
    fill:transparent;
    stroke-dasharray: 630;
    animation:stroke-ani 1s infinite;
}

@keyframes stroke-ani {
    from {
        stroke-dashoffset: 630;
    }
    to{
        stroke-dashoffset: 0;
    }
}

/*별*/
.star{
    margin-top: 300px;
    margin-left: 100px;
    position: absolute;
    animation: blink 1s infinite;
    opacity: 0.3;
    scale(0.9);
}

@keyframes blink {
    50% {
        opacity: 1;
        scale: 1.1;
    }
}

/*지폐*/
svg.bill{
    position:absolute;
    margin-top: 100px;
    margin-left: 4px;
    margin-right:120px;
    animation: bounce 1s linear infinite;
    /*background-color: black;*/
}

/*동전*/
svg.coin{
    position: absolute;
    margin-top: 140px;
    margin-left: 40px;
    animation: bounce 1s linear infinite;
}

/*집*/
svg.house {
    position:absolute;
    margin-top: 90px;
    margin-left: 90px;
    animation: bounce 1s infinite ease;
}

/*손*/
svg.hand{
    position: absolute;
    margin-top: 280px;
    animation: turn 1s ease-in-out infinite;
}

@keyframes bounce {
    to{
        transform: translateY(40%);

    }
    from{
        transform: translateY(0%);
    }
}

@keyframes turn {
    to{
        transform: rotate(15deg);
    }
}













